rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && 
        (request.auth.token.email.lower() == "mosinjonovjasurbek00@gmail.com");
    }

    match /wallpapers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /ads/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /avatars/{fileName} {
      allow read: if true;
      // Allow users to upload their own avatar. Ensure the filename starts with their UID (checked in JS side ideally, but basic size check here is good)
      allow write: if request.auth != null && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
