rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && 
        (request.auth.token.email.lower() == "mosinjonovjasurbek00@gmail.com");
    }

    match /wallpapers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /ads/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
